<section>
  <div class="border-2 rounded-xl h-96 w-96 mx-auto my-auto mt-28 flex flex-col justify-center items-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-xl" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "rounded-xl" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded-xl" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "border border-black rounded-xl w-20 m-4" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </section>
  </div>
