<div>
  <%= form_with model: [@category, @task] do |f|  %>
    <h1> <span> <%= f.check_box :done, onchange: "this.form.submit();" %></span> Task: <%= @task.name.titleize %></h1>
    <p>Description: <%= @task.description.titleize %></p>
    <p>Date: <%= @task.date.strftime("%a - %b %-d, %Y") %> </p>
  <% end %>
</div>
<br>
<%= link_to "Back", category_path(@category)%>
<br>
<br>
<%= link_to "Edit", edit_category_task_path(@category.id, @task.id) %>
<br>
<br>
<%= link_to "Delete", category_task_path(@category, @task), data: {
    turbo_method: :delete,
    turbo_confirm: "Continue to delete"
  } 
%>