<p class="mt-2">
  <%= link_to "Home", categories_path, class: "ml-4 border border-black rounded-xl px-2" %>
</p>
<div class="flex ml-2 mt-4">
  <h1 class="border-b-2 border-black"> "<%= @category.name.titleize %>"</h1>
  <%= link_to " - Edit", edit_category_path %>
</div>

<br>
<br>
<%#= link_to "New Task", category_tasks_path(@category) %>
<%= link_to "New Task", new_category_task_path(@category), class: "ml-2 border border-black rounded-xl px-2" %>

<div>
  <% @category_tasks.each do |task| %>
    <h2>Task: <%= task.name %> </h2>
    <%= link_to "View", category_task_path(@category.id, task.id) %>
  <% end %>

</div>